*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(233, 47%, 7%);
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}
.card {
    width: 90%;
    margin: 3rem auto;
    border-radius: 0.5rem;
    background-color: hsl(244, 38%, 16%);
    overflow: auto;
}
 .img-container{
    position: relative;
    border-radius: 0.5rem 0.5rem 0 0;
}  
.img-container img{
    width: 100%;
    border-radius: inherit;
    margin-bottom: -4px; /* to solve the problem */
}  
.img-container .img-layer{
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 64%, 61%, 0.5);
}
.description h2{
    margin: 2rem 3rem 0;
    font-weight: 700;
}
#insights{
    color: hsl(277, 64%, 61%);
}
.description p{
    margin: 1.5rem 3.5rem 3rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.8rem;
    line-height: 1.5rem;
}
.stat-label .stat{
    display: block;
    margin-bottom: .25rem;
    font-weight: 700;
    font-size: 1.25rem;
}
.stat-label .label{
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.75rem;
}
.stat-label{
    margin-bottom: 2rem;
}